<template>
  <div class="item-editor">
    <div class="container">
      <div class="card card-margin">
        <div class="card-header">Item {{item.title}} bewerken</div>
        <div class="card-body">
          <item-form id="item-form" :item="item" />
          <br />
          <button @click="saveItem()" class="btn btn-success save">Aanpassingen opslaan</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ItemForm from "./ItemForm.vue";

export default {
  name: "item-editor",
  components: {
    ItemForm
  },
  data() {
    return {};
  },

  computed: {
    item() {
      if (!this.$store.state.allItems.length) {
        return {
          photo: "",
          title: "",
          description: "",
          completed: false
        };
      }
      return {
        ...this.$store.state.allItems.find(
          item => item.id == this.$route.params.id
        )
      };
    }
  },

  methods: {
    saveItem() {
      this.$store.dispatch("editItem", this.item);
    }
  },

  mounted() {}
};
</script>
