<template>
  <div class="item-form">
    <div class="form-group">
      <label>Titel:</label>
      <input name="title" v-model="item.title" class="form-control title" type="text" />
    </div>
    <div class="form-group">
      <label>Beschrijving:</label>
      <input
        name="description"
        v-model="item.description"
        class="form-control description"
        type="text"
      />
    </div>
    <br />
    <div class="form-group">
      <label>Foto URL:</label>
      <input name="photo" class="form-control photo" v-model="item.photo" type="text" />
    </div>
    <br />
    <div class="form-group form-check">
      <input
        name="completed"
        v-model="item.completed"
        type="checkbox"
        class="form-check-input completed"
        id="checkbox"
      />
      <label class="form-check-label" for="checkbox">Compleet</label>
    </div>
  </div>
</template>


<script>
export default {
  name: "item-form",
  props: {
    item: {
      type: Object
    }
  },

  data() {
    return {};
  },

  computed: {},

  methods: {},

  mounted() {}
};
</script>