<template>
  <div class="items-list">
    <div class="container">
      <br />
      <table class="table table-bordered">
        <thead>
          <th>Foto</th>
          <th>Titel</th>
          <th>Beschrijving</th>
          <th>Compleet</th>
          <th>Acties</th>
        </thead>
        <tbody>
          <tr :class="{ listcompleted: item.completed }" v-for="item in items" :key="item.id">
            <td>
              <img :src="item.photo" class="image-list-view" alt />
            </td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{item.completed ? "✓ Compleet" : "X Nog niet compleet"}}</td>
            <td>
              <router-link
                class="btn btn-success"
                :to="{ name: 'item.show', params:{id:item.id}, }"
              >Item bekijken</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "items-list",
  data() {
    return {};
  },

  computed: {
    items() {
      return this.$store.state.allItems;
    }
  },

  methods: {},

  created() {}
};
</script>
